$font-stack: Helvetica, sans-serif;
$primary-color: #3498db;
$header-font-size: 1.3em;
$p-font-size: 1.5em;

body {
  font: 100% $font-stack;

}

p,ul{
  font-size: $p-font-size;
}

li {
  font-size: 1em;
}

.nav-tabs a {
  font-size: $header-font-size;
}

.jumbotron {
  background-color: $primary-color;
  color: #000000;
}

#headshot {
  zoom: 30%;
  border-radius: 50%;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
